:root{
    --primary : #6a89cc;
    --dark : #4a69bd;
    --gray-1 : #a4b0be;
    --gray-2 : #ced6e0;
    --light-gray : #dfe4ea;
    --dark-gray : #4b6584;
    --accent: #1e3799;
    --text-color : #333;
    --error : #fc5c65;
    --divider : #dfe4ea;
    --font-family : "Roboto", "sans-serif";
    --box-shadow : 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
    --white : white;

}